/*HOME PAGE STYLES*/

.helloText{
    color:white;
    font-size: 30px;
    font-family: serif;
    margin:0 auto;
    margin-top: 180px;
    text-align: center;
    text-shadow: -2px 4px 10px #000;
}

.button {
    -webkit-box-shadow:rgba(0,0,0,0.5) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.5) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.5) 0 1px 0 0;
    border-bottom-color:#444547;
    border:1px solid #444547;
    background-color:#5457bd;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color:#898A8C;
    font-family: serif;
    font-size:18px;
    text-shadow:#898A8C 0 1px 0;
    margin:0 auto;
    max-width:100%;
    display:block;
}

.buttonText{
    color:#9da0ba;
    font-size: 120%;
}

#submit{
    position: inline;
    margin:0 auto;
    margin-top: 50px;
    font-family: serif;
}

#me{
    display: inline;
    max-width: 300px;
    width:100%;
    position: absolute;
    bottom:0;
    right:0;
    z-index: -1;
}

@media(max-width:900px){
    #me{
        position:initial;
        display: block;
        text-align: center;
        margin:0 auto;
        width: 50%;
        margin-top: 40px;
    }
}

#elementToFadeInAndOut {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: serif;
}

#elementToFadeInAndOut.active {
    display: block;
}

#indexBody{
    background-color: black;
    background-image: url("../img/doubleGold.png");
    background-size: cover;
    width:100%;
    height:100%;
}

#footerText{
    float:right;
    margin-top: 10px;
    margin-right:10px;
}

#emailIcon{
    padding-right:12px;
}

/*PROGRAMMING PAGE STYLES*/
#blurHackathon{
    padding-bottom: 10px;
}

.hackathonsHeaderText{
    font-family: serif;
    font-size: 60px;
    width:100%;
    color:white;
    text-shadow: -2px 4px 10px #000;
}

#hackathonsHeaderSpacing{
    padding-top:10%;
    padding-left:5%;
}

@media(max-width:670px){
    #hackathonsHeaderSpacing{
    padding-top:20%;
    padding-left:5%;
    }
}

@media(max-width:550px){
    #hackathonsHeaderSpacing{
    padding-top:30%;
    padding-left:5%;
    }
}

.hackathonsImagineIf{
    font-family: serif;
    font-size: 30px;
    width:100%;
    color:#339bc4;
    text-shadow: -2px 4px 10px #000;
}

#hackathonsImagineIfSpacing{
    padding-left: 5%;
}

.bodyFont{
    color:white;
    text-shadow: -2px 4px 10px #000;
    font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    padding: 0% 5% 0% 5%;
    margin-bottom: 20%;
}

.box{
    color:white;
    font-family: serif;
    font-size:40px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,.1);
    padding:10px;
    width:3;
    flex:1;
}

@media(max-width:670px){
    .box{
    font-family: serif;    
    color:white;
    font-size:20px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,.1);
    padding:10px;
    width:3;
    flex:1;
    }
}

.HTML{
    color:#3498db;
    text-shadow: -2px 4px 10px #000;
    flex:1;
    padding-top:80px;
    font-family: serif;
}

@media(max-width:670px){
    .HTML{
    color:#3498db;
    text-shadow: -2px 4px 10px #000;
    flex:1;
    padding-top:80px;
    font-family: serif;
    }
}
.JSON{
    color:#5457bd;
    text-shadow: -2px 4px 10px #000;
    margin-top: 200px;
    font-family:serif;

}

@media(max-width:670px){
    .JSON{
        color:#5457bd;
        text-shadow: -2px 4px 10px #000;
        margin-top: 120px;
        font-family: serif;
    }
}
.CSS{
    color:#f1c40f;
    text-shadow: -2px 4px 10px #000;
    padding-top:20px;
    font-family: serif;
}

@media(max-width:670px){
    .CSS{
        color:#f1c40f;
        text-shadow: -2px 4px 10px #000;
        padding-top: 20px;
        font-family:serif;
    }
}

.JavaScript{
    color:#ff741b;
    text-shadow: -2px 4px 10px #000;
    padding-top:160px;
    font-family: serif;
}
@media(max-width:670px){
    .JavaScript{
        color:#ff741b;
        text-shadow: -2px 4px 10px #000;
        padding-top: 140px;
        font-faily:serif;
    }
}
.jQuery{
    color:#1cbbb4;
    text-shadow: -2px 4px 10px #000;
    padding-top:110px;
    font-family: serif;
}

@media(max-width:670px){
    .jQuery{
        color:#1cbbb4;
        text-shadow: -2px 4px 10px #000;
        padding-top: 70px;
        font-family:serif;
    }
}

.containerFlexBox{
    margin-top:15%;
    display:flex;
    align-items:flex-start;
    width:100%;
}

@media(max-width:670px){
    .containerFlexBox{
    margin-top:15%;
    display:flex;
    align-items:flex-start;
    width:100%;
    }
}

#indexProgramming{
    background-color: #041a21;
    background-image: url("../img/groot.png");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}

/*ART PAGE STYLES*/

.my_carousel{
    position: relative;
    width:100%;
    max-width:750px;
    background-color: #fff;
    margin:30px auto 0px auto;
}

.carousel_container{
    height: 340px;
    width:100%;
    margin-top: 10%;
    background-color: #134764;
    background: url("../img/background.jpg") no-repeat 0px 0px;
}

.caption_container {
    width:100%;
    max-width:435px;
}

#stem{
    border-left: 3px solid #713e1b;
    margin-top: -18px;
    padding: 18px 0 0 20px;
    width:100%;
}

@media(max-width:635px){
    #stem{
    border-left: 0px;
    margin-top: -18px;
    padding: 18px 0 0 20px;
    width:100%;
    }
}

#carousel{
    margin: 0px auto 0px auto;
    width:100%;
    height: 270px;
}

#carousel img{
    width: 300px;
    height: 300px;
    cursor: pointer;
}

#captions { 
    width:100%;
    margin: 0px 0px 100px 165px;
    padding: 0px 0px 20px;
    margin-top: 20px;
}

@media(max-width:635px){
    #captions{
    width:100%;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 20px;
    margin-top: 20px;
    }
}

#captions h2 {
    margin-left: 20px;
    width:100%;
}

.nextItem{
    position: absolute;
    top: 230px;
    left:0px;
    z-index:1001;
    cursor: pointer;
}

.prevItem{
    position: absolute;
    top: 230px;
    right:0px;
    z-index: 1002;
    cursor: pointer;
}

.carousel_data {
    display: none;
    width:100%;
}

.leaves{ 
    position: absolute; 
    top: 280px; 
    left: 102px; 
    z-index:1003;
    margin-top: 20px;
}

@media(max-width:635px){
    .leaves{
    display:none;
    }
}

#indexArt{
    background-color: #134764;
    background-image: url("../img/blueTexture.png");
    background-size: cover;
    width:100%;
    height:100%;
}

/*CONTACT PAGE STYLES*/

#indexContact{
    background-color: #0b1d2d;
    background-image: url("../img/charmTest.png");
    background-size: cover;
    width:100%;
    height:100%;
}

#form{
    margin:0 auto;
    margin-top: 180px;
    text-align: center;
}

@media(max-width:635px){
    #form{
    margin:0 auto;
    text-align:center;
    margin-top:200px;
    }
}

.firstName{
    width:200px;
    margin-bottom: 2%;
}

.lastName{
    width:200px;
    margin-bottom: 2%;
}

.questions{
    width:200px;
    margin-bottom: 2%;
}

.email{
    width:200px;
    margin-bottom: 2%;
}

.labelForm{
    display:inline-block;
    min-width:100px;
    color:white;
    text-shadow: -2px 4px 10px #000;
    font-size: 18px;
    margin-right:20px;
    font-family: serif;
}

